
$('#student_branch_id').empty()//.append("<%= escape_javascript(render(:partial => @branches)) %>");
console.log('<%= @branches %>')
<% @branches.each do |branch| %>
	$('#student_branch_id').append('<option value="<%= branch.id %>"><%= branch.name %></option>')
<% end %>
