$('.branches_selection .message').hide();
<% @branches.each do |branch| %>
	$('.branches_selection').append('<label class="checkbox-inline"></label>');
	$('.branches_selection label:last').append('<%= check_box_tag "jobpost[branch_ids][]", branch.id, false, {:id => dom_id(branch), :class => branch.id, "data-course"=>branch.course_id} %><%= label_tag dom_id(branch), branch.name %>');
<% end %>