<% provide(:title, "College SignUp") %>
<div class="intro_wrapper window_span">
    <div class="intro_wrapper_overlay window_span"></div>
    <div class="container">
            <div class="signup_form_container college_signup form_container curr_active">
                <div class="signup_form form_content animated flipInX">
                	<p>SignUp as College/TPO</p>
                    <%= render 'college_form' %>
               </div>
            </div>
   </div>
</div>

