<% provide(:title, @tpo.name) %>

<p class="lead" style="z-index:99999999999999999;color:black"><%= @tpo.email %></p>
<br/>
<p class="lead" style="z-index:999999999999999999;color:black"><%= @tpo.name %></p>
<br/>
<p class="lead" style="z-index:99999999999999999;color:black"><%= @tpo.college %></p>