<% provide(:title, @tpo.name) %>

<p class="lead"><%= @tpo.email %></p>
<br/>
<p class="lead"><%= @tpo.name %></p>
<br/>
<p class="lead"><%= @tpo.college %></p>
<%= link_to "Log out", session_path, method: "delete" %>