<% if @tpo.errors.any? %>
	<div id="error_explaination">
		<div class="alert alert-danger">
			The form containes <%= pluralize(@tpo.errors.count, "error") %> :
		</div>
		<ul class="error_list">
			<% @tpo.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

