<div class="forgot_password_form_container form_container">
    <div class="login_form form_content animated flipInX">
    	<p>Forgot Password?</p>
        <span class="forgot_password_note">Just Enter your Email below and we'll send you instructions on how to reset your password</span><br/><br/>
        <form>
            <div class="form-group">
                <label class="control-label">Username/Email</label>
                <input type="email" class="form-control" placeholder="Eg.: username@example.com" />
            </div>
            <div class="redirect_links">
            	<a href="#" class="login_link">Log In</a> <br/> 
                <a href="#" class="college_signup_link">Sign Up as College</a> |  
                <a href="#" class="student_signup_link">Sign Up as Student</a>
            </div>
            <a class="btn btn-md btn-default" type="submit"><span class="hover_span"></span><b>Reset Password</b></a>
        </form>
</div>