<div class="login_form_container form_container">
    <div class="login_form form_content animated flipInX">
    	<p>LogIn to your account</p>
        <form>
            <div class="form-group">
                <label class="control-label">Username/Email</label>
                <input type="email" class="form-control" placeholder="Eg.: username@example.com" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" placeholder="Your Password"/>
            </div>
            <div class="redirect_links">
            	<a href="#" class="forgot_password_link">Forgot Password?</a> <br/> 
                <a href="#" class="college_signup_link">Sign Up as College</a> | 
                <a href="#" class="student_signup_link">Sign Up as Student</a>
            </div>
            <a class="btn btn-lg btn-default" type="submit"><span class="hover_span"></span><b>LogIn</b></a>
        </form>
   </div>
</div>