<div class="signup_form_container student_signup form_container">
    <div class="signup_form form_content animated flipInX">
    	<p>SignUp as Student</p>
        <form>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" placeholder="Eg.: username@example.com" />
            </div>
            <div class="form-group">
                <label class="control-label">Full Name</label>
                <input type="name" class="form-control" placeholder="Your Name" />
            </div>
            <div class="form-group">
                <label class="control-label">College</label>
                <select class="form-control">
                	<option>IEC College of Engineering and Technology</option>
                	<option>IEC College of Engineering and Technology</option>
                	<option>IEC College of Engineering and Technology</option>
                </select>
            </div>
            <div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                	<div class="form-group">
                        <label class="control-label">Course</label>
                        <select class="form-control">
                            <option>B.Tech/B.E.</option>
                            <option>M.Tech/M.E.</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                	<div class="form-group">
                        <label class="control-label">Branch</label>
                        <select class="form-control">
                            <option>CS/IT</option>
                            <option>ECE</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" placeholder="Your profile password" />
            </div>
            <div class="redirect_links">
            	<a href="#" class="college_signup_link">SignUp as College</a> | 
                <a href="#" class="login_link">Already Signed Up?</a>
            </div>
            <a class="btn btn-lg btn-default sign_up_btn" type="submit"><span class="hover_span"></span><b>SignUp</b></a>
        </form>
   </div>
</div>