// Place all the styles related to the Tpos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary_blue : rgb(45, 174, 191);
$primary_green : rgb(111, 201, 154);
@mixin green_hover{
  	background:$primary_green;
  	color:#FFF;
  	border:1px solid darken($primary_green, 5%);
  	&:hover{
  		color:#FFF;
  		background:lighten($primary_green,10%);
  	};
}
@mixin blue_hover{
  	background:$primary_blue;
  	color:#FFF;
  	border:1px solid darken($primary_blue, 5%);
  	&:hover{
  		color:#FFF;
  		background:lighten($primary_blue,10%);
  	};
}
.user_content_wrapper.tpo_side_bar{
	margin-top:10px;
	border-right:1px solid #EEE;
	font-size:18px;
	color:#333;
	.user_pic_container{
		width:100%;
		height:130px;
		margin-bottom:20px;
		img.user_pic{
			width:100%;
			height:100%;
		}
	}
	a.tpo_name{
		margin-bottom:20px;
	}
	a.btn{
		margin-top:20px;
		font-size:15px;
		font-weight:bold;
		border-radius:0px;
		@include green_hover;
		span{
			font-size:12px;
		}
	}
}
.tpo_edit_form_container{
	text-align:center;
	background:#FFF;
	border:1px solid #EAEAEA;
	padding-bottom:60px;
	.tpo_edit_form{
		width:500px;
		margin:0px auto;
		text-align:left;
		display: inline-block;

		h3{
			text-align:center;
			colr:#444;
		}

		form{
			.form-control{
				border-radius:0px;
			}
			.btn{
				border-radius:0px;
				@include blue_hover;
			}
		}
	}
}
.jobposts_list{
	width:98%;
	margin:0 auto;
	.jobposts_count{
		margin-left:10px;
	}
	.jobpost_container{
		background:#FFF;
		border:1px solid #EAEAEA;
		padding:5px 20px;
		padding-top:5px;
		margin-bottom:10px;
		position:relative;
		.job_title{
			clear:both;
			font-weight:bold;
			color:#555;
			border-bottom:1px solid #EEE;
			.position{
				margin-left:5px;
				font-size:20px;
			}
			.company{
				margin-right:5px;
				font-size:18px;
			}
		}
		.left_aligned{
			text-align:left;
			display:inline-block;
			width:48%
		}
		.right_aligned{
			text-align:right;
			display:inline-block;
			width:48%;
		}
		.job_info{
			text-align:center;
			margin-top:10px;
			color:#777;
			div{
				margin-bottom:10px;
			}
			.heading{
				font-weight:bold;
				color:#666;
			}
		}
		.location{
			text-align:right;
			display:block;
			margin-top:0px;
			margin-bottom:15px;
			font-weight:bold;
			color:#777;
			margin-right:15px;
			}
		.actions{
			display:block;
			margin-top:10px;
			padding-bottom:10px;
			padding-top:10px;
			text-align:right;
			border-bottom:1px solid #EEE;
			border-top:1px solid #EEE;

			.btn{
				border-radius:0px;
				font-weigh:light;
			}
		}
		.author{
			text-align:center;
			color:#CCC;
			padding-top:5px;
			font-size:12px;
			font-weight:lighter;
		}
	}
}
.no_posts_note{
	text-align:center;
	width:98%;
	background:#FFF;
	border:1px solid #EAEAEA;
	padding-top:25px;
	padding-bottom:25px;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.user_content{
	text-align:center;
}